@import './variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font;
}

ul, ol, menu {
    list-style: none;
 }
  
a {
    color: currentColor;
    text-decoration: none;
}

img{
    max-width: 100%;
}

.container{
    position: relative;
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 1rem;
}